<!DOCTYPE html>
<head>
  <link rel="icon" href="https://lh3.googleusercontent.com/LKZ8__k_FlGxXAo8WlOoXfNDkzSM79dhz5-_S-spWMF-Qi2Nv5D-2IvkpxSp2l8EPsSfoclE1wkIm_3rqKJj65BXs7Y1B_f5s9dyB9TjQUkmApQu1i7Mb_5tL66JV22hEtr0MxXmWw=w2400">
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta property="og:title" content="MLH Project Site 2" />
  <meta property="og:description" content="MLH Project Site 2" />
  <meta property="og:url" content="{% block url %}{% endblock %}" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Monoton:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <link lang="sass" rel="stylesheet" href="/styles/main.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% block body %}{% endblock %}
</body>
