{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} {% block body
%}
<h1>User search below</h1>
<form action="/dbtest" method="get">
  <input type="text" name="username" />
  <input type="submit" />
</form>
<h1>Create a post</h1>
<form id="cp">
  <input type="text" id="cp-title" name="title" />
  <input type="text" id="cp-caption" name="caption" />
  <input type="text" id="cp-image-src" name="imageSrc" />
  <input type="submit" id="cp-submit" />
</form>
<p id="cp-response"></p>
<script>
  const cpTitle = document.getElementById("cp-title")
  const cpCaption = document.getElementById("cp-caption")
  const cpImageSrc = document.getElementById("cp-image-src")
  const cpResponse = document.getElementById("cp-response")
  const cp = document.getElementById("cp")

  function createPost(event) {
    event.preventDefault()
    let url = new URL(
      `${window.location.protocol}//${window.location.hostname}:5000/createPost`
    )
    url.searchParams.append("title", cpTitle.value)
    url.searchParams.append("caption", cpCaption.value)
    url.searchParams.append("imageSrc", cpImageSrc.value)

    console.log(url)
    var xhr = new XMLHttpRequest()
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        if (xhr.response == 200) {
          cpResponse.innerHTML = "Successfully created post"
          cpResponse.style.color = "green"
        } else {
          cpResponse.innerHTML = "Failed to create post"
          cpResponse.style.color = "red"
        }
      }
    }
    xhr.open("POST", url, true)
    xhr.setRequestHeader("Content-Type", "application / json; charset = UTF-8,")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.send()
  }
  cp.addEventListener("submit", createPost)
</script>
{% for item in data %}
<div>
  <h1>{{ item.title }}</h1>
  <p>{{ item.caption }}</p>
  <img src="{{ item.imageSrc }}" />
</div>
{% endfor %} {% endblock %}
