extends base

block content
  main
    h1 Welcome to Foodstagram!
    div
      .row
        .col
          .row
            .card
          .row
            .card
        .card.big
      .row
        .card
        .card
        .card
      .row
        .card
        .card
        .card
