extends base

block content
  header
    .header-center
      a.logo(href='#') FOODSTAGRAM
      div
        input.search(type='text' placeholder='SEARCH')
        button.sign-up Sign Up
  #content.container
    header.header-profile
      .details
        img.profile-pic(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTakSD1xNifdNXl-8X_V3eB6NEYbqWc5w2MMg&usqp=CAU' alt='John Doe')
        h1.heading Jane Doe
        button.sign-up Add Post
        .stats
          .col-4
            h4 20
            p Posts
          .col-4
            h4 10
            p Followers
          .col-4
            h4 100
            p Following
    main
      div
        .row
          .card
          .card
          .card
        .row
          .card
          .card
          .card
        .loader
